/* style.css */
body{
  background: rgb(245,245,245);
  color: red;
  font-size: 25px;
  font-family: 'Barrio', cursive;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  color: green;
  font-weight: lighter;
  font-size: 13px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}